@import "tailwindcss";

:root {
  --background: #e0f2fe;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #e0f2fe;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
}
