@import "tailwindcss";

:root {
  --background: #e0f2fe;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(135deg, #23a2c8 0%, #5cf664 50%, #1f0cc7 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
}
