@import "tailwindcss";

:root {
  --background: #e0f2fe;
  --foreground: #171717;
}

body {
  background: linear-gradient(135deg, #e15bfc 0%, #22ff00 50%, #0011ff 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
}
